/* ------------------------------------------------------
 * /css/frameset/advanced_frameset.scss START
 * ------------------------------------------------------ */

.advancedFrameset {
  display: flex;
}

.advancedFrameset .sidebar, .advancedFrameset .content {
  width: 100vh;
}

.advancedFrameset .threadViewContainer {
  border: 2px solid black;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  width: 50vw;
}

.advancedFrameset .postTreeContainer {
  border: 2px solid red;
  box-sizing: border-box;
  height: 50vh;
  overflow: auto;
  width: 50vw;
}

.advancedFrameset .postContainer {
  border: 2px solid green;
  box-sizing: border-box;
  height: 50vh;
  overflow: auto;
  width: 50vw;
}

/* ------------------------------------------------------
 * /css/frameset/advanced_frameset.scss STOP
 * ------------------------------------------------------ */