/* ------------------------------------------------------
 * /css/frameset/classic_frameset.scss START
 * ------------------------------------------------------ */

.classicFrameset .threadViewContainer {
  border-bottom: 2px solid #cccccc;
  box-sizing: border-box;
  height: 35vh;
}

.classicFrameset .threadViewContainer .content {
  height: 100%;
  overflow: auto;
}

.classicFrameset .threadViewContainer .border {
  height: 2px;
  cursor: ns-resize;
}

.classicFrameset .postTreeContainer {
  box-sizing: border-box;
  height: 26vh;
  overflow: auto;
}

.classicFrameset .postContainer {
  border-top: 2px solid #cccccc;
  box-sizing: border-box;
  height: 39vh;
  overflow: auto;
}


/* ------------------------------------------------------
 * /css/frameset/classic_frameset.scss STOP
 * ------------------------------------------------------ */