/* ------------------------------------------------------
 * /css/frameset/classic_frameset.scss START
 * ------------------------------------------------------ */

.classicFrameset .threadViewContainer {
  box-sizing: border-box;
  height: 35vh;
  min-height: 35vh;
  overflow: auto;
}

.classicFrameset .postTreeContainer {
  border-top: 2px solid #cccccc;
  box-sizing: border-box;
  height: 26vh;
  min-height: 26vh;
  overflow: auto;
}

.classicFrameset .postContainer {
  border-top: 2px solid #cccccc;
  box-sizing: border-box;
  height: 39vh;
  min-height: 39vh;
  overflow: auto;
}

.classicFrameset .threadViewContainer .wrapper,
.classicFrameset .postTreeContainer .wrapper,
.classicFrameset .postContainer .wrapper {
  min-height: inherit;
  height: auto;
  margin-top: -2px;
}

/* ------------------------------------------------------
 * /css/frameset/classic_frameset.scss STOP
 * ------------------------------------------------------ */