/* ------------------------------------------------------
 * /css/layout/_app.scss START
 * ------------------------------------------------------ */

* {
  padding: 0;
  margin: 0;
}

:root {
  --default-text-color: #ffffff;
  --highlight-text-color: #ffff7c;
  --quote-text-color: #f0888a;
  --table-line-color: #c01425;
  --bg-color: #AD2C39;
  --bg-color-one: #A51425;
  --bg-color-two: #8f1425;
}

body {
  background-color: var(--bg-color);
  color: var(--default-text-color);
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

a, a:active {
  color: var(--highlight-text-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  background-color: var(--bg-color-one);
  box-shadow: 0px -1px 35px 20px rgba(0,0,0,0.75);
  display: block;
  width: 778px;
  //height: 100vh;
}

@media (min-width: 778px) {
  body.layout3 .wrapper {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  body.layout2 .wrapper {
    width: 950px;
    margin-left: 40px;
  }
}


.singlePage .wrapper {
  height: 100vh;
}

/* ------------------------------------------------------
 * /css/layout/_app.scss END
 * ------------------------------------------------------ */