/* ------------------------------------------------------
 * /css/layout/_app.scss START
 * ------------------------------------------------------ */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #AD2C39;
  color: #ffffff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

a, a:active {
  color: #ffff7c;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  background-color: #A51425;
  box-shadow: 20px 0 75px -10px #000000;
  display: block;
  width: 778px;
  //height: 100vh;
}

.singlePage .wrapper {
  height: 100vh;
}

/* ------------------------------------------------------
 * /css/layout/_app.scss END
 * ------------------------------------------------------ */