/* ------------------------------------------------------
 * /css/layout/_navigation.scss START
 * ------------------------------------------------------ */

.header {
  width: 100%;
  min-height: 102px;
}

.header .banner {
  width: 100%;
  height: 60px;
  background-color: #E5E5E5;
}

.header .top-navigation {
  height: 24px;
  background: #671922;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  padding-left: 90px;
}

/* ------------------------------------------------------
 * /css/layout/_navigation.scss END
 * ------------------------------------------------------ */