/* ------------------------------------------------------
 * /css/layout/_table.scss START
 * ------------------------------------------------------ */

table.default {
  width: 100%;
  border-collapse: collapse;
}

table.default thead {
  background-color: var(--bg-color-two);
  color: var(--highlight-text-color);
  line-height: normal;
}

table.default tbody {
  background-color: var(--bg-color-one);
}

table.default th,
table.default td {
  padding: 5px;
  font-size: x-small;
  border: 1px solid var(--table-line-color);
}

/* ------------------------------------------------------
 * /css/layout/_table.scss END
 * ------------------------------------------------------ */