/* ------------------------------------------------------
 * /css/message/tree_view.css START
 * ------------------------------------------------------ */

.messageTree {
  background-color: #8f1425;
}

.messageTree div.defaultHeader {
  color: #ffff7c;
  position: relative;
}

.messageTree div.defaultHeader a {
  color: #ffffff;
}

.messageTree li span.username {
  font-weight: bold;
}

.messageTree li a.subject {
  font-size: 12px;
  color: #ffffff;
}

.messageTree li span.icon-arrow-right {
  margin-left: -11px;
  line-height: inherit;
  z-index: 9999;
  color: #ffff7c;
  position: absolute;
}

.messageTree li a.subject:visited {
  color: #f0888a;
}

.messageTree li a.subject:active {
  color: #ffff7c;
  text-decoration: underline;
}

.treeContainer {
  height: auto;
  padding-top: 15px;
}

.tree,
.tree ul {
  margin: 0 0 0 14px; /* indentation */
  padding: 0;
  list-style:none;
  color: #ffffff;
  position:relative;
}

.tree ul {
  margin-left: -10px; /* (indentation/2) */
}

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px dotted #cccccc;
}

.tree li {
  margin: -12px 0 0 0;
  padding:0 20px; /* indentation + .5em */
  line-height: 30px; /* default list item's `line-height` */
  position:relative;
  white-space: nowrap;
}

.tree li:before {
  content:"";
  display:block;
  width: 18px; /* same with indentation */
  height: 0;
  border-top:1px dotted #cccccc;
  margin-top:-1px; /* border top width */
  position:absolute;
  top: 15px; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background: #8f1425; /* same with body background */
  height:auto;
  top: 16px; /* (line-height/2) */
  bottom:0;
}

/* ------------------------------------------------------
 * /css/message/tree_view.css END
 * ------------------------------------------------------ */