/* ------------------------------------------------------
 * /css/thread/thread_list.css START
 * ------------------------------------------------------ */

.threadViewContainer .defaultHeader {
  border-bottom: 0;
}

.threadViewContainer form.switchBoardForm {
  display: inline;
}

//.threadViewContainer form.switchBoardForm select {
//  width: 150px;
//  font-size: 8pt;
//  font-weight: bold;
//  color: #ffffff;
//  background-color: #c01425;
//}
//
//form.switchBoardForm select .current {
//  background-color: var(--bg-color-two);
//}

table.threads thead th {
  color: var(--default-text-color);
  font-size: x-small;
  padding: 4px;
}

table.threads tbody tr:hover {
  background-color: var(--bg-color-two);
}

table.threads tbody tr:hover td {
  background-color: transparent;
}

table.threads td {
  padding: 3px;
}

table.threads td.author,
table.threads td.viewCount,
table.threads td.replyCount {
  background-color: var(--bg-color-two);
  font-weight: bold;
}

table.threads .createdDate,
table.threads .lastMsg {
  font-size: 7pt;
}

table.threads .createdDate,
table.threads .lastMsg,
table.threads .viewCount,
table.threads .replyCount {
  text-align: center;
}

table.threads td.viewCount,
table.threads td.replyCount {
  width: 28px;
}

table.threads td.author,
table.threads td.createdDate,
table.threads td.lastMsg {
  width: 100px;
}

table.threads td.topic a {
  font-size: 10pt;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  max-width: 340px;
}

table.threads td.topic a,
table.threads td.author a,
table.threads .lastMsg a,
table.threads .replyCount a {
  color: var(--default-text-color);
}

table.threads td.topic a:visited,
table.threads td.lastMsg a:visited {
  color: #f0888a;
}

table.threads td.topic a.unread,
table.threads td.lastMsg a.unread {
  color: var(--default-text-color);
}

table.threads td.topic a:active,
table.threads td.lastMsg a:active {
  color: var(--highlight-text-color);
  text-decoration: underline;
}

table.threads td.topic a.fixed {
  color: var(--highlight-text-color);
}

table.threads tfoot td {
  background-color: var(--bg-color-two);
  font-weight: bold;
  padding: 5px;
}

table.threads tfoot td.navigation {
  text-align: right;
}

table.threads tfoot td.info {
  font-size: 10pt;
}

table.threads tfoot td.info span.category {
  color: var(--highlight-text-color);
}

/* ------------------------------------------------------
 * /css/thread/thread_list.css END
 * ------------------------------------------------------ */