/* ------------------------------------------------------
 * /css/thread/thread_list.css START
 * ------------------------------------------------------ */

.threadViewContainer .defaultHeader {
  border-bottom: 0;
}

table.threads thead th {
  color: #ffffff;
  font-size: x-small;
  padding: 4px;
}

table.threads tbody tr:hover {
  background-color: #8f1425;
}

table.threads tbody tr:hover td {
  background-color: transparent;
}

table.threads td {
  padding: 3px;
}

table.threads td.author,
table.threads td.viewCount,
table.threads td.replyCount {
  background-color: #8f1425;
  font-weight: bold;
}

table.threads .createdDate,
table.threads .lastMsg {
  font-size: 7pt;
}

table.threads .createdDate,
table.threads .lastMsg,
table.threads .viewCount,
table.threads .replyCount {
  text-align: center;
}

table.threads td.viewCount,
table.threads td.replyCount {
  width: 28px;
}

table.threads td.author,
table.threads td.createdDate,
table.threads td.lastMsg {
  width: 100px;
}

table.threads td.topic a {
  font-size: 10pt;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  max-width: 340px;
}

table.threads td.topic a,
table.threads td.author a,
table.threads .lastMsg a,
table.threads .replyCount a {
  color: #ffffff;
}

table.threads td.topic a:visited,
table.threads td.lastMsg a:visited {
  color: #f0888a;
}

table.threads td.topic a:active,
table.threads td.lastMsg a:active {
  color: #ffff7c;
  text-decoration: underline;
}

table.threads td.topic a.fixed {
  color: #ffff7c;
}

table.threads tfoot td {
  background-color: #8f1425;
  font-weight: bold;
  padding: 5px;
}

table.threads tfoot td.navigation {
  text-align: right;
}

table.threads tfoot td.info {
  font-size: 10pt;
}

table.threads tfoot td.info span.category {
  color: #ffff7c;
}

/* ------------------------------------------------------
 * /css/thread/thread_list.css END
 * ------------------------------------------------------ */