/* ------------------------------------------------------
 * /css/faq/_faq_index.scss START
 * ------------------------------------------------------ */

.faqContainer {
  margin:  0 8px;
}

.faqContainer .headline1 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.faqContainer .category {
  padding-bottom: 40px;
}

.faqContainer .category .headline2 {
  background-color: var(--bg-color-two);
  border: 1px solid var(--table-line-color);
  padding: 22px 8px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;

}

.faqContainer .headline3 {
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  color: var(--highlight-text-color);
  background-color: var(--bg-color-one);
}

.faqContainer .topic {
  background-color: var(--bg-color-two);
}

.faqContainer .topic .content {
  border: 1px solid var(--table-line-color);
  padding: 6px 10px;
  font-size: 12px;
}

.faqContainer .topic .content ul {
  padding-left: 15px;
  padding-bottom: 15px;
}

/* ------------------------------------------------------
 * /css/faq/_faq_index.scss START
 * ------------------------------------------------------ */