/* ------------------------------------------------------
 * /css/board/board_index.css START
 * ------------------------------------------------------ */

.boardIndex .defaultHeader {
  font-family: Tahoma, Arial, sans-serif;
  letter-spacing: 1.3pt;
}

table.default td.mods {
  background-color: var(--bg-color-two);
  text-align: center;
  font-weight: bold;
}

table.default a.name {
  font-size: small;
  font-weight: bold;
}

table.default td.lastMsg {
  text-align: center;
}

/* ------------------------------------------------------
 * /css/board/board_index.css END
 * ------------------------------------------------------ */